/* ENVIRONMENT */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: black;
    animation: bgChange 10s linear normal 1;
}

img, video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* FIELD */

#plane {
    position: absolute;
    top: calc(50% - 300px);
    left: calc(50% - 300px);
    perspective: 600rem;
}

/* ANIMATED CONTAINER */

#cube {
    position: relative;
    transform-style: preserve-3d;
    animation: cubeAnimate 30s infinite normal linear;
}

@keyframes cubeAnimate {
    0% {
        transform: rotate3d(0, 1, 0, -360deg);
    }
    100% {
        transform: rotate3d(0, 0, 0, 0);
    }
}

/* FACES */

.faces {
    position: absolute;
    height: 600px;
    width: 600px;
    transform-style: preserve-3d;
    overflow: hidden;
    border-style: solid;
    background-color:black;
    border-color: grey;
    border-width: 3px;
    /* opacity: 50%; */
}

.deck {
    display: flex;
}

#one {
    transform: translateZ(300px);
}

#two {
    transform: translateZ(-300px) rotateY(180deg);
}

#three {
    transform: translateX(300px) rotateY(90deg);
}

#four {
    transform: translateX(-300px) rotateY(-90deg);
}

#five {
    transform: translateY(-300px) rotateX(90deg);
}

#six {
    transform: translateY(300px) rotateX(90deg);
}


/* TEXT CONTENT */

.text {
    color:grey;
    font-size: 100px;
    letter-spacing: 30px;
    /* animation: glitch 10s linear 1 normal;
    clip: rect(10px, 0px, auto, auto); */
}

@keyframes glitch {
0% {
    clip: rect(auto, auto, auto, auto);
}
49% {
    clip: rect(auto, auto, auto, auto);
}
50% {
    clip: rect(10px, 800px, auto, auto);
}   
60% {
    clip: rect(10px, 600px, auto, auto);
}
70% {
    clip: rect(10px, 400px, auto, auto);
}
80% {
    clip: rect(10px, 200px, auto, auto);
}
90% {
    clip: rect(10px, 0px, auto, auto);
}
100% {
    clip: rect(10px, 0px, auto, auto);
}
}

/* .text:before, .text:after {
    position: absolute;
    content: attr(data-text);
    color: black;
}

.text:before{
    left: 4px;
    text-shadow: 4px 0 cyan;
    animation: reveal 10s linear 1 normal;
}
.text:after{
    left: -4px;
    text-shadow: -4px 0 magenta;
    animation: reveal 10s linear 1 normal;
} */

@keyframes reveal {
    0% {
        clip: rect(110px, auto, auto, auto);
    }
    10% {
        clip: rect(85px, auto, auto, auto);
    }
    20% {
        clip: rect(60px, auto, auto, auto);
    }
    30% {
        clip: rect(35px, auto, auto, auto);
    }
    40% {
        clip: rect(10px, auto, auto, auto);
    }
    50% {
        clip: rect(10px, 800px, auto, auto);
    }   
    60% {
        clip: rect(10px, 600px, auto, auto);
    }
    70% {
        clip: rect(10px, 400px, auto, auto);
    }
    80% {
        clip: rect(10px, 200px, auto, auto);
    }
    90% {
        clip: rect(10px, 0px, auto, auto);
    }
    100% {
        clip: rect(10px, 0px, auto, auto);
    }
}
